:root {
    --bg-nav: #1cc5db;
}

/* selettori tag */
nav {
 background-color: var(--bg-nav);
}

.test {
    color: red;
}

main {
 background-color: orange;
}

aside {
    background-color: blueviolet;
}

/* selector class */
.primo {
    background-color: green;
    width: 200px;
    height: 100px;
}

.secondo {
    background-color: gold;
    width: 200px;
    height: 100px;
}

.terzo {
    background-color: rgb(204, 8, 8);
    width: 200px;
    height: 100px;
}

div {
    background-color: cornflowerblue;
}
